:root {
  --background: #1F2229;
  --background2: #232429;
  --background-button: #131520;
  --background-button2: #28378d;
  --yellow: #fa6400;
  --gray: #2a89e7;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}